/* LOVEFORHATE*/




/*general*/
:root {
    /*colors*/
    --main-color: #316cda;
}

h1 {
    color: var(--main-color);
}

h2 {
    color: var(--main-color);
}




/* class*/

.active {
    color: var(--main-color);
}



/* id's*/


#section_willkommen {
    height: 750px;
    background-color:   #a08c8c;
}

#frontline {
    height: 30px;
    
    background-color: var(--main-color);
    color: #000000;
    font-size: 150%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;

    padding: 5px 0px 0px 5px;
    border: 0px;
    margin: 0px 0px 0px 0px;
}

#kontakt_telefonnummer {
    float:  left;
    background-color:   #a08c8c;
    height: fit-content;
    width:  fit-content;
}





#float_kontakt1 {
    float: left;
    height: 400px;
    width: 400px;
}

#float_kontakt2 {
    float: left;
    height: 400px;
    width:  400px;

    background-color: var(--main-color);
}


/* NAVIGATION-BAR */

#container_navigation  {


    height: 140px;
    width: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    /*background-color: darkgrey; */
}

#logo   {

    min-height: 130px;
    min-width: 130px;

    /* logo size should be fixed now
    height: 130px;
    width: 130px;

    logo added in html sheet
    background: url(ah_logo\ klein.jpg);
    background-size: contain;
    */
}

#name   {
    
    height: fit-content;
    max-width: 150px;

    color: #316cda;
    font-size:  1.25em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;

    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;

    /*background-color: darksalmon;*/
}

#navigation  {

    height: fit-content;
    width: fit-content;

    margin-top: 50px;

    /*background-color: darkseagreen;*/
}



body    {
    margin: 0px;
}

hr {
    height: 10px;
    width: 100%;

    padding: 0px;
    border: 0px;
    margin: 0px;

    background-image: repeating-linear-gradient(to bottom, #918f8f, #ffffff);
}

ul  {
    
    list-style-type: none;

    padding: 0px;
    border: 0px;
    margin: 0px;

}

li  {
    float: left;

    padding-right: 30px;

    font-size:  1.25em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

li:last-child   {
    padding-right: 0px;
}

a:link {
    color:  #6b6b6b;
    text-decoration: none;
}

a:visited {
    color:  #6b6b6b;
}

a:hover {
    color:  #316cda;
}

/* muss noch richtig implementiert werden
.active {
    color: #316cda;
}
*/





/* first top line ftp*/

#container_ftl  {
    height: 30px;
    width: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #316cda;
}

#text_ftl   {
    height: fit-content;
    width: fit-content;

    font-weight: bold;
    font-size:  1.25em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #ffffff;
}




/* last bottom line lbl*/

#container_lbl  {
    height: fit-content;
    width: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
    
    height: fit-content;
    width: 100%;

    background-color: #6b6b6b;
}

#copyright_lbl  {

    margin: 2px;

    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}





/* secondlast bottom line slbl*/

#container_slbl {

    display: flex;

    justify-content: center;
    align-items: center;
    
    height: fit-content;
    width: 100%;

    background-color: #9e9a9a;
}

#text_slbl  {

    margin: 2px;

    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;

    color: #000000;
}





/*textpage "Willkommen"*/

#container_text {

    display: flex;

    justify-content: center;
    align-items: flex-start;

    height: fit-content;
    width: 100%;
}

#main_text  {
    height: fit-content;
    width: fit-content;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #6b6b6b;
}

#carebasket {
    height: 270px;
    width: 420px;

    background: url(carebasket.png);
    background-size: contain;
}

#container_geschaeftspartner    {

    display: flex;

    justify-content: center;
    align-items: flex-end;

    height: fit-content;
    width: 100%;

    font-family: "Trebuchet MS", Helvetica, sans-serif;

    background-color: #316cda;
}

#container_alltagshelden    {

    border-bottom: #316cda;
    border-left: #316cda;
    border-top: #316cda;
    border-right: #6b6b6b;
    border-style: solid;
    border-width: 3px;

    text-align: center;

    height: fit-content;
    width: 300px;

    background-color: #316cda;
}

#container_immerhelden  {

    text-align: center;

    height: fit-content;
    width: 300px;

    background-color: #316cda;
}

#antrag_ausfuellen {

    display: flex;
    align-items: center;

    height: 50px;
    width:  250px;
}

#sanikorb_bestellen {

    display: flex;
    align-items: center;

    height: 50px;
    width:  250px;
}

#sanikorb_liefern {

    display: flex;
    align-items: center;

    height: 50px;
    width:  250px;
}

#icon_antrag    {

    height: 40px;
    width: 40px;

    background: url(Antrag_ausfuellen.png);
    background-size: contain;

}

#icon_sanikorb   {

    height: 40px;
    width: 40px;

    background: url(bestellung_abschicken.png);
    background-size: contain;

}

#icon_delivery   {

    height: 35px;
    width: 55px;

    background: url(lieferung_bekommen.png);
    background-size: contain;
}

h1  {

    font-size: 1.5em;
    color: #316cda;
}

h2{

    font-size: 1.25em;
    color: #000000;
}